<div class="contenido">
        <!-- button new Product -->
        <button class="btn-material primary button_add" data-toggle="modal" data-target=".add_Sucursal"> <span>Agregar</span></button>

        <table id="load_sucursales" class="mdl-data-table compact hover row-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Encargado</th>
                    <th>Estado</th>
                    <th>ACTUALIZAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Direccion</td>
                    <td>Encargado</td>
                    <td>Estado</td>
                    <td width="10%"><button class="btn-material btn-table" data-toggle="modal" data-target=".update_Sucursal"><span>Actualizar</span> </button></td>
                    <td width="10%"><button class="btn-material red btn-table" data-toggle="modal" data-target=".delete_sucursal"><span>Eliminar</span></button></td>
                </tr>
    
    
            </tbody>
        </table>

        </div>
        
        
        
        <!-- modal new Sucursal -->
        <div class="modal fade add_Sucursal" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        
        <div class="modal-dialog modal-lg">  
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Sucursal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        
                <div class="modal-body">


                    <div class="group">      
                        <input type="text" required #Pnombre>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre Sucursal</label>
                    </div>

                    <div class="group">      
                            <input type="text" required #Pnombre>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Direccion</label>
                    </div>
                    
                        <button class="btn btn-primary">Agregar</button>
                </div>
        
        </div>
    </div>
</div>


        <!-- modal update product -->
        <div class="modal fade update_Sucursal" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        
                <div class="modal-dialog modal-lg">  
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Actualizar Sucursal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                
                        <div class="modal-body">
                            <br>
                                <div class="group">      
                                        <input type="text" required #Pnombre>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Nombre Sucursal</label>
                                    </div>
                
                                    <div class="group">      
                                            <input type="text" required #Pnombre>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Direccion</label>
                                    </div>
                                            
                            
                                <button class="btn-material primary">
                                    <span>
                                    Agregar
                                    </span>
                                    </button>
                                <button class="btn-material red" data-dismiss="modal">
                                    <span>
                                        Cancelar
                                    </span>
                                </button>
                        </div>
                
                </div>
            </div>
        </div>

        <!-- modal new product -->
        <div class="modal fade delete_sucursal" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        
                <div class="modal-dialog modal-lg">  
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Sucursal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                
                        <div class="modal-body">
                            <p>desea Eliminar esta sucursal</p>
                            <p>sucursal Nombre</p>
                            <br>
                            <button class="btn-material primary">
                                <span>
                                    Eliminar                                    
                                </span>

                            </button>
                            <button class="btn-material red">
                                <span>
                                    Cancelar
                                </span>
                            </button>
                        </div>
                
                </div>
            </div>
        </div>
        