<nav class="navbar nav-toggleable  navbar-inverse bg-inverse">
    <!-- Links -->
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
                <span class="clearfix d-none d-sm-inline-block">Nombre_usuario</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Accion1</a>
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </li>
    </ul>

    <!-- Links -->

</nav>