<div class="limiter">
    <div class="container-login100">
        
    
          <form class="login100-form validate-form">
            <div class="title-one">
                <img src="../../assets/img_login.jpg" class="img_form">
                <span class="login100-form-title txt2">
                  Libreria | nombre
                </span>
            </div>

  
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <input class="input1001" type="text" name="email" id="email" placeholder="Usuario" #name_form required ngModel>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <input class="input1001" type="password" name="pass" id="pass" placeholder="Contrasena" #pass_form required ngModel>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
  
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                Ingresar
              </button>
            </div>
          
  
          </form>
    </div>
  </div>
  