<div class="limiter">
    <div class="container-login100">
        
    
          <form class="login100-form validate-form">
            <br><br>
            <div class="title-one">
                <img src="../../assets/img_login.jpg" class="img_form">
                <span class="login100-form-title txt2">
                  <br>
                  Libreria | nombre
                </span>
            </div>

            <div class="group">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>usuario</label>
            </div>
  
            <div class="group">
              <input type="password" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Contrasena</label>
            </div>
  
<button class="btnMaterial"><span>primary</span> </button>
<button class="btnMaterial orange"><span>secondary</span></button>
<button class="btnMaterial red"><span>danger</span></button>
<button class="btnMaterial primary"><span>primarys</span></button>
            <br><br> <br>
          </form>
    </div>
  </div>
  