/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #000;
  background-image:url('/assets/fondo_login.jpg');
  opacity: .9;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {  
  width: 400px;
  background: rgba(248, 248, 248, 0.884);
  border-radius: 25px;
  opacity: 0.89;

  /*sombra css*/
  -webkit-box-shadow: 7px 7px 19px -2px rgba(0,0,0,0.46);
  -moz-box-shadow: 7px 7px 19px -2px rgba(0,0,0,0.46);
  box-shadow: 7px 7px 19px -2px rgba(0,0,0,0.46);
}

.login100-form-title {
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  width: 100%;
  display: block;
  padding-bottom: 50px;
}

.img_form{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;

}

/*-------------------------*/
.title-one{
    text-align: center;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn  {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  padding-top: 4px;
}

.login100-form-btn {
  margin-top: 10px;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #388E3C;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 992px) {
  .wrap-login100 {
  padding: 50px 70px 50px 70px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
		/*
		padding: top,right,top,left;
		 */
    padding: 50px 50px 33px 100px;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 50px 15px 33px 15px;
  }
}



/*para input nombre*/
/* form starting stylings ------------------------------- */
.group 			  {
  text-align: center;
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  background: none;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label{
  color:#000; 
  font-size:1.2em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:1.2empx;
  color:#000;
  text-anchor: middle;
}

/* BOTTOM BARS ================================= */
.bar {
   position:relative; 
   display:block; 
   width:100%; 
  }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}