<div class="contenido">

        <p class="title1">Marca</p>
        <hr>
    <!-- button new Product -->
    <div class="primero">
        <button class="btn-material primary button_add btn-add-p" data-toggle="modal" data-target=".add_marca"><span>agregar</span></button>
    </div>

    <table id="Marca" class="mdl-data-table compact hover row-border" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>desactivar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Activo</td>
                <td><button class="btn-material btn-table" data-toggle="modal" data-target=".update_marca"><span><i class="fa fa-edit"></i></span> </button></td>
                <td><button class="btn-material red btn-table"><span><i class="fa fa-trash"></i></span></button></td>
            </tr>


        </tbody>
    </table>



    <p class="title">Categorias</p>
    <hr>    
    <button class="btn-material primary primero" data-toggle="modal" data-target=".add_categoria"><span>Agregar</span></button>
    <br><br>
    
    <table id="Categoria" class="mdl-data-table compact hover row-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>desactivar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Activo</td>
                    <td><button class="btn-material btn-table" data-toggle="modal" data-target=".update_categoria"><span><i class="fa fa-edit"></i></span> </button></td>
                    <td><button class="btn-material red btn-table"><span><i class="fa fa-trash"></i></span></button></td>
                </tr>
    
    
            </tbody>
        </table>
        



</div>
 <br>
 <br>       
        
<!-- modal from Marca -->        
<!-- modal new Marca -->
<div class="modal fade add_marca" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">  
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                <div class="container col-md-12">
                    <div class="group">      
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>nombre</label>
                    </div>

<!--Select with pure css-->
                <div class="select">
					<select class="select-text" required>
						<option value="" disabled selected></option>
						<option value="1">Activo</option>
						<option value="2">No Activo</option>
					</select>
					<span class="select-highlight"></span>
					<span class="select-bar"></span>
					<label class="select-label">Estado</label>
				</div>


                        <button class=" btn-material primary">
                            <span>
                                    agregar
                            </span>

                        </button>
                        <button class="btn-material red">
                            <span>
                                    cancelar
                            </span>
                            
                        </button>
                    
                </div>

                </div>
        </div>
    </div>
</div>
      
<!-- modal Update marca -->
<div class="modal fade update_marca" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">  
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                    <div class="modal-body">
                            <div class="container">
                                    
                                <div class="container col-md-12">
                                    
                                    <div class="group">      
                                            <input type="text" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>nombre</label>
                                        </div>
<!--Select with pure css-->
                            <div class="select">
                                <select class="select-text" required>
                                    <option value="" disabled selected></option>
                                    <option value="1">Activo</option>
                                    <option value="2">No Activo</option>
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">Estado</label>
                            </div>


                        <button class=" btn-material primary">
                                <span>
                                        agregar
                                </span>
    
                            </button>
                            <button class="btn-material red">
                                <span>
                                        cancelar
                                </span>
                                
                            </button>
                            </div>

                            </div>

                    </div>
            
            </div>
        </div>
</div>

<!-- modal dasactivar marca -->
<div class="modal fade desact_marca" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">  
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Desactivar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                    <div class="modal-body">
                        <div class="container">
                            <div>
                                <label for="">id</label>
                                <input type="text" value="id">
                            </div>
                            <div>
                                <input type="button" class="btn btn-danger" value="desactivar">    
                            </div>
                        </div>
                    </div>
            
            </div>
        </div>
</div>




<!-- Categoria -->
<!-- modal new Categoria -->
<div class="modal fade add_categoria" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">  
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <div class="container">
                            <div class="container col-md-12">
                                    
                                    <div class="group">      
                                            <input type="text" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>nombre</label>
                                        </div>
<!--Select with pure css-->
                            <div class="select">
                                <select class="select-text" required>
                                    <option value="" disabled selected></option>
                                    <option value="1">Activo</option>
                                    <option value="2">No Activo</option>
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">Estado</label>
                            </div>


                        <button class=" btn-material primary">
                                <span>
                                        agregar
                                </span>
    
                            </button>
                            <button class="btn-material red">
                                <span>
                                        cancelar
                                </span>
                                
                            </button>
                            </div>   
                    </div>
    
                    </div>
            
            </div>
        </div>
    </div>
          
    <!-- modal Update Categoria -->
    <div class="modal fade update_categoria" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">  
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modificar Categoria</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                
                        <div class="modal-body">
                                <div class="container">
                                        <div class="container col-md-12">
                                    
                                                <div class="group">      
                                                        <input type="text" required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>nombre</label>
                                                    </div>
            <!--Select with pure css-->
                                        <div class="select">
                                            <select class="select-text" required>
                                                <option value="" disabled selected></option>
                                                <option value="1">Activo</option>
                                                <option value="2">No Activo</option>
                                            </select>
                                            <span class="select-highlight"></span>
                                            <span class="select-bar"></span>
                                            <label class="select-label">Estado</label>
                                        </div>
            
            
                                    <button class=" btn-material primary">
                                            <span>
                                                    agregar
                                            </span>
                
                                        </button>
                                        <button class="btn-material red">
                                            <span>
                                                    cancelar
                                            </span>
                                            
                                        </button>
                                        </div>   
                                </div>
    
                        </div>
                
                </div>
            </div>
    </div>
    
    <!-- modal dasactivar Categoria -->
    <div class="modal fade desact_categoria" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">  
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Desactivar Categoria</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                
                        <div class="modal-body">
                            <div class="container">
                                <div>
                                    <label for="">id</label>
                                    <input type="text" value="id">
                                </div>
                                <div>
                                    <input type="button" class="btn btn-danger" value="desactivar">    
                                </div>
                            </div>
                        </div>
                
                </div>
            </div>
    </div>
    
