.primero {
    float: left;
}

.btn-table {
    margin: auto;
}

.btn-table span {
    padding: 4px;
}

.btn-table span i {
    font-size: 1.7em;
}

tr,
td,
th {
    text-align: center;
    align-content: center;
}

.title {
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.title1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}