.side-nav {
    position: absolute;
    width: 100%;
    height: 150vh;
    background-color: #383838;
    z-index: 1;
    display: none;
}

.side-nav ul {
    margin: 0;
    padding: 0; 
}
.side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #3f79c5;
    position: relative;
}
.side-nav ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
.side-nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.side-nav ul li i {
    color: #fff;
    min-width: 20px;
    text-align: center;
}
.side-nav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.side-nav ul li:hover{
  background-color: #0497df;
}
/* set element styles to fit tablet and higher(desktop) */@media screen and (min-width: 200px) {
    .side-nav {
        display: block;
        width: 50px;
    }
    .side-nav ul li span:nth-child(2) {
        display: none;
    }
    .side-nav .logo i {
        padding-left: 10px;
    }
    .side-nav .logo span {
        display: none;
    }
    .side-nav ul li i {
        font-size: 15px;
    }
    .side-nav ul li a {
        text-align: center;
    }
    .side-nav ul li {
        padding: 10px 10px;
    }
}

/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 400px) {
    .side-nav {
        display: block;
        width: 50px;
    }
    .side-nav ul li span:nth-child(2) {
        display: none;
    }
    .side-nav .logo i {
        padding-left: 10px;
    }
    .side-nav .logo span {
        display: none;
    }
    .side-nav ul li i {
        font-size: 15px;
    }
    .side-nav ul li a {
        text-align: center;
    }
    .side-nav ul li {
        padding: 10px 10px;
    }
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
    .side-nav {
        display: block;
        width: 75px;
    }
    .side-nav ul li span:nth-child(2) {
        display: none;
    }
    .side-nav .logo i {
        padding-left: 12px;
    }
    .side-nav .logo span {
        display: none;
    }
    .side-nav ul li i {
        font-size: 26px;
    }
    .side-nav ul li a {
        text-align: center;
    }
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
    .side-nav {
        width: 200px;
    }
    .side-nav ul li span:nth-child(2) {
        display: inline-block;
    }
    .side-nav ul li i {
        font-size: 16px;
    }
    .side-nav ul li a {
        text-align: left;
    }
    .side-nav .logo i {
        padding-left: 0;
    }
    .side-nav .logo span {
        display: inline-block;
    }
}
