<div class="side-nav">
        <nav>
            <ul>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./dashboard']">
                        <span><i class="fa fa-bookmark"></i></span>
                        <span>dashboard</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./proventa']">
                        <span><i class="fa fa-cart-arrow-down"></i></span>
                        <span>Producto venta</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./clientes']">
                        <span><i class="fa fa-bar-chart"></i></span>
                        <span>Clientes</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./proveedor']">
                        <span><i class="fa fa-user"></i></span>
                        <span>Proveedor</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./servicios']">
                        <span><i class="fa fa-check-circle"></i></span>
                        <span>Servicios</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./sucursales']">
                        <span><i class="fa fa-tag"></i></span>
                        <span>Sucursales</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./usuarios']">
                        <span><i class="fa fa-users"></i></span>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['./ventas']">
                        <span><i class="fa fa-star"></i></span>
                        <span>Ventas</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                        <a [routerLink]="['./agregados']">
                            <span><i class="fa fa-star"></i></span>
                            <span>Agregados</span>
                        </a>
                </li>
            </ul>
        </nav>
    </div>