/* You can add global styles to this file, and also import other style files */
/*para colocar correctamente el contenido*/
.contenido{
    margin-left: 250px;
    position: relative;
  }
  
/*para el boton agregar mas */
.button_add{
  margin-top: 15px;
}

/*para los botones*/
.btn-material{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0, .6);
  background-color: #00C853;
  color: #ecf0f1;
  text-transform: uppercase;
  font-weight: bold;
  transition: backgroud-color .3s;
}

.btn-material:hover, .btn-material:focus {
  background-color: #27ae60;
}

.btn-material > * {
  position: relative;
}

.btn-material span {
  display: block;
  padding: 12px 24px;
}

.btn-material:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-material:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}



/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}



.btn-material.orange {
  background-color: #e67e22;
}

.btn-material.orange:hover, .btn-material.orange:focus {
  background-color: #d35400;
}

.btn-material.red {
  background-color: #e74c3c;
}

.btn-material.red:hover, .btn-material.red:focus {
  background-color: #c0392b;
}

.btn-material.primary{
  background-color: #0288D1;
}

.btn-material.primary:hover, .btn-material.primary:focus{
  background-color: #01579B;
}

  /* set element styles to fit tablet and higher(desktop) */
  @media screen and (min-width: 200px) {
    .contenido{
      margin-left: 50px;
    }
  }
  
  /* set element styles to fit tablet and higher(desktop) */
  @media screen and (min-width: 400px) {
    .contenido{
      margin-left: 50px;
    }
  }
  /* set element styles to fit tablet and higher(desktop) */
  @media screen and (min-width: 600px) {
    .contenido{
      margin-left: 75px;
    }
  }
  /* set element styles for desktop */
  @media screen and (min-width: 800px) {
    .contenido{
      margin-left: 220px;
    }
  }
  