<div class="contenido">
    <!-- button new Product -->
    <button class="btnMaterial button_add" data-toggle="modal" data-target=".add_producto"><span>Agregar</span>
    </button>
    <button class="btnMaterial button_add factura" data-toggle="modal" data-target=".add_factura"><span>Realizar
            Venta</span></button>
    <br><br>

    <table class="tableMaterial" border="1px">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>existencia</th>
                <th>precio</th>
                <th>Marca</th>
                <th>categoria</th>
                <th>actualizar</th>
                <th>desactivar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>existencia</td>
                <td>precio</td>
                <td>Marca</td>
                <td>Categoria</td>
                <td><button class="btn btn-success" data-toggle="modal" data-target=".update_producto">editar</button>
                </td>
                <td><button class="btn btn-danger">desactivar</button></td>
            </tr>
        </tbody>

    </table>
</div>



<!-- modal new product -->
<div class="modal fade add_producto" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form (ngSubmit)="addProductoVenta(userForm)" #userForm="ngForm">
                        <div class="row">

                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label><b>Codigo:</b> </label>
                                <input type="text" class="form-control" name="codigo" ngModel ng-required>
                            </div>

                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label for=""><b>Nombre:</b> </label>
                                <input type="text" name="nombre" class="form-control" Model required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label for=""><b>Descripcion</b></label>
                                <input type="text" name="descripcion" class="form-control" ngModel required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label for=""><b>Existencia</b></label>
                                <input type="text" name="existencia" class="form-control" ngModel required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label for=""><b>Precio:</b> </label>
                                <input type="text" name="precio" class="form-control" ngModel required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label for=""><b>Marca</b> </label>
                                <select class="form-control" ngModel name="marca" required>
                                    <option value="" disabled selected></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 form-group">
                                <label><b>Categoria:</b> </label>
                                <select class="form-control" ngModel name="categoria" required>
                                    <option value="" disabled selected></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <!--Select with pure css-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary">
                                            Agregar
                                        </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- modal update product -->
<div class="modal fade update_producto" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div>
                        <label for="">Codigo: </label>
                        <input type="text" name="" id="" disabled>
                    </div>

                    <div>
                        <label for="">Nombre:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">Descripcion:</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Existencia:</label>
                        <input type="text" name="" id="" disabled>
                    </div>
                    <div>
                        <label for="">Precio:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">Marca:</label>
                        <select name="" id="">
                            <option value="">opcion</option>
                            <option value="">opcion</option>
                            <option value="">opcion</option>
                            <option value="">opcion</option>
                        </select>
                    </div>
                    <div>
                        <label for=""><b>Categoria:</b> </label>
                        <select name="" id="">
                            <option value="">opcion1</option>
                            <option value="">opcion1</option>
                            <option value="">opcion1</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- modal from factura -->
<div class="modal fade add_factura" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Facturacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div>
                        <label for="">nit cliente</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label for="">nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>precio unidad</th>
                                <th>unidades</th>
                                <th>total</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Papel</td>
                                <td>27.00</td>
                                <td>2</td>
                                <td>44.00</td>
                                <td>Eliminar</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Papel</td>
                                <td>27.00</td>
                                <td>2</td>
                                <td>44.00</td>
                                <td>Eliminar</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Papel</td>
                                <td>27.00</td>
                                <td>2</td>
                                <td>44.00</td>
                                <td>Eliminar</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>total</td>
                                <td></td>
                                <td></td>
                                <td>150.00</td>
                                <td></td>
                            </tr>
                        </table>
                        <!-- Los productos seran asignados por medio de un array genreal -->
                    </div>
                    <div>
                        <button class="btn btn-primary">
                            finalizar
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>