<div class="contenido">
<!-- button new Product -->
<button class="btn btn-primary button_add" data-toggle="modal" data-target=".dashboar">Agregar</button>
<br><br>

<table class="table " border="1px">
    <thead>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>existencia</th>
            <th>precio</th>
            <th>Marca</th>
            <th>categoria</th>
            <th>actualizar</th>
            <th>desactivar</th>
    </thead>
    <tbody>
        <td>Codigo</td>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>existencia</td>
        <td>precio</td>
        <td>Marca</td>
        <td>Categoria</td>
        <td><button class="btn btn-info">editar</button></td>
        <td><button class="btn btn-danger">desactivar</button></td>
    </tbody>
    
</table>
</div>








































<!-- modal new product -->
<div class="modal fade dashboar" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">  
<div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
        cuerpo del modal
        </div>

</div>
</div>
</div>
